body {
    margin: 0;
    font-family: sans-serif;
    color: #ddd;
    background-color: #222;
}
h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 22px;
    padding: 10px;
}
form {
    background-color: transparent;
    padding: 20px 0;
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 0px 55px #fff2;
    margin-top: 50px;
    border-radius: 8px;
}
.form-input {
    padding: 6px 20px;
}
input, textarea, select {
    width: 100%;
    color: #ddd;
    box-sizing: border-box;
    padding: 6px 8px;
    border: none;
    border: 1px solid #666;
    border-radius: 4px;
    box-shadow: 0px 0px 15px #0009;
    background-color: transparent;
    resize: vertical;
}

option {
    background-color: #222;
}

textarea {
    min-width: 100%;
    resize: vertical;
    min-height: 100px;
    font-family: sans-serif;
}
label {
    line-height: 2;
}
.checkbox {
    width: auto;
    height: 10px;
}