body {
    background-color: #48e;
    margin: 0;
    font-family: sans-serif;
    color: white;
}
.box {
    width: 80%;
    height: 400px;
    background-color: #a0a9;
    background-image: url("https://i.pinimg.com/474x/e6/a0/d3/e6a0d314fc0ff8edafc2936776ef0d08.jpg");
    background-size: cover;
    background-position: top;
    margin: 0;
    background-attachment: fixed ;
}
.opaco {
    height: 100%;
    width: 100%;
    background-color: #400a;
}
h2 {
    padding: 20px;
    text-align: center;
}