body {
    margin: 0;
}
div {
    width: 100px;
    height: 100px;
    background: #48e;
    margin: 10px;
}

.box_default {
    box-sizing: border-box;
    padding: 25px;
    border: 10px solid black;
}
.box_new {
    box-sizing: border-box;
    padding: 25px;
    border: 10px solid black;
}